<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gamer Hunter</title>
</head>
<body>
    <main id="main-content">
        <div id="body">
            <div class="row">
                <div class="col-md-6" style="text-align: center;">
                    <h1>Gamer Hunter</h1>

                    <img alt="Logo" src="./assets/img/gamerHunter.png" width="250px">
                </div>
            </div>
        </div>
    </main>
</body>
</html>