<!DOCTYPE html>
<html lang="en">
<head>
    {{> ./components/styles }}
    {{> ./components/metas }}

    <title>Desktop</title>

    <script src="https://content.overwolf.com/libs/ads/latest/owads.min.js"></script>
    <script src="../../public/assets/js/ads-service.js"></script>
</head>
<body id="body-element" style="overflow-y: hidden;">
    {{> ./components/loaders }}

    <div class="w-100 header-window">
        {{> ./components/header title=htmlWebpackPlugin.options.title }}
    </div>

    <main id="main-content">
        <aside>
            {{> ./components/sidebar action=htmlWebpackPlugin.options.title }}
        </aside>

        <div id="body">
            {{> ./components/setting/connectionVerification.hbs }}

            {{> ./components/tabs/desktop.hbs }}
            {{> ./components/tabs/challenges.hbs }}
            {{> ./components/tabs/setting.hbs }}
        </div>
    </main>
</body>
</html>