<!DOCTYPE html>
<html lang="en">
<head>
    {{> ./components/metas }}
    {{> ./components/styles }}

    <title>Desktop</title>

    <script src="https://content.overwolf.com/libs/ads/latest/owads.min.js"></script>
</head>
<body>
    <div class="w-100">
        {{> ./components/header title=htmlWebpackPlugin.options.title }}
    </div>

    <main id="main-content">
        <aside>
            {{> ./components/sidebar action=htmlWebpackPlugin.options.title }}
        </aside>

        <div id="body">
            {{> ./components/tabs/desktop.hbs }}
            {{> ./components/tabs/challenges.hbs }}
            {{> ./components/tabs/setting.hbs }}
        </div>
    </main>
</body>
</html>