<div class="tab-content tab-challenges-content d-none mt-5 p-3 pt-5" id="tab-challenges-content">
    <div id="ContentComponentGamerHunter" class="d-none">
        <div>
            <h2 class="font-bold">
                GameHunter
            </h2>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget-2 mt-5 mb-5 pb-5 pt-5">
                        <ul class="widget-2-list" id="GamesList">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h2 class="font-bold">
                Challenges
            </h2>


            <div class="row">
                <div class="col-md-12" id="tooglesBody"></div>
            </div>

            {{!-- {{> ../link_account/link_account }} --}}
        </div>
        
    </div>

    
</div>