<header id="header" class="app-header">
    <img src="./assets/img/gamerHunter.png" class="w-30px"/>
    <h1>Gamers Hunter | {{ title }}</h1>
    <div class="window-controls-group">
      <button class="icon window-control" id="minimizeButton">
        <svg>
          <use xlink:href="assets/img/header_icons.svg#window-control_minimize" />
        </svg>
      </button>
      <button class="icon window-control" id="maximizeButton">
        <svg>
          <use xlink:href="assets/img/header_icons.svg#window-control_maximize" />
        </svg>
      </button>
      <button class="icon window-control window-control-close" id="closeButton">
        <svg>
          <use xlink:href="assets/img/header_icons.svg#window-control_close" />
        </svg>
      </button>
    </div>
</header>