<div class="loader-window text-center" id="loader-content-window" style="position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;background-color: #000000;z-index: 200000;">
    <div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
        <img  src="./assets/img/gamerHunter.png" />
        <div class="spinner spinner-white spinner-center"></div>
    </div>
</div>