<div class="row d-none justify-content-center" id="connectionAlert">
    <div class="col-10">
        <div class="alert alert-danger">
            <h3 class="font-bold">
                Antes de comenzar
            </h3>
            
            <ul>
                <li>Asegúrese de que hay una conexión a Internet activa que pueda accederse desde una computadora u otros dispositivos inalámbricos. Si no es posible conectar otros dispositivos utilizando LAN inalámbrica, entonces hay un problema con la conexión a Internet y es necesario que usted se comunique con su proveedor de servicios de Internet (ISP, siglas en inglés).</li>
            </ul>
        </div>
    </div>
</div>