<div class="row d-none justify-content-center align-items-center h-100 mt-15 ContentComponentUserInformation">
    <div class="col-8 col-sm-9 col-md-5">
        <div class="card card-custom bg-transparent p-0">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-12">
                    <div class="card card-custom bg-gamerhunter-secundary">
                        <div class="card-body p-0">
                            <div class="widget-1">
                                <div class="widget-1-background" style="background-image: url('./assets/img/Challenges.jpg')">
                                    <span class="widget-1-opacity"></span>
                                </div>

                                <div class="widget-1-title pt-3 pb-3">
                                    <h5 class="text-center font-bold color-gamerhunter profile-username-content" id="profile-username-content"></h5>
                                </div>

                                <div class="widget-1-image">
                                    <span class="widget-1-circle">
                                        <img src="./assets/img/default-user.png" class="profile-images-content" alt="" id="profile-images-content">
                                    </span>
                                    <span class="widget-1-circle-range"></span>
                                </div>

                                <div class="widget-1-content pt-3">
                                    <p class="font-bold text-center  pb-3 m-0">
                                        <span class="color-gamerhunter profile-coint-content" id="profile-coint-content">+</span> HunterCoint
                                    </p>
                                </div>

                                <div class="d-flex justify-content-center position-relative pb-3">
                                    <button type="button" id="signOff" class="btn btn-warning btn-elevate kt-login__btn-primary">Cerrar sesión</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>