body {
    overflow-x: hidden;
    background-color: $background_window;
    color: $white;
}


#body {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 30px;
}

a {
    text-decoration: none !important;
}

#main-content {
    display: flex;
}

.bg-gamerhunter-secundary {
    background-color: $gamerhunter-secundary;
}

.color-gamerhunter-secundary {
    color: $gamerhunter-secundary;
}

.bg-gamerhunter {
    background-color: $gamerhunter;
}

.color-gamerhunter {
    color: $gamerhunter;
}

.font-bold {
    font-weight: bold;
}

.bg-transparent {
    background-color: transparent;
}

.btn-none {
    background: none;
    border: none;
}

@keyframes latido {
    0% { width: 98%; height: 98%; border:10px solid $gamerhunter; }
    100% { width:100%; height:100%; border:10px solid transparent; }
  }

@import "./forms";